* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aaru
{
    text-align: center;
	background-color: blueviolet;
	color: white;
	padding:10px;
	width: auto;	
	font-family: arial,sans-serif;
    font-size: 15px;
    height: 30px;	
}

#main {
    margin-left: 20px;
    margin-right: 20px;  
}

#outer {
    border: 1px solid grey;
    padding: 8px;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#user {
    text-align: center;
    border: 1px dashed black;
    background-color: cyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    border-radius: 8px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type=text],input[type=password] {
    width: 97%;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid blueviolet;
    padding-left: 10px;
}

input[type=text]:focus,input[type=password]:focus {
    border: 3px solid cyan;
    box-shadow: 2px 2px 2px 4px cyan;
}

input[type=submit] {
    width: 99%;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background-color:  blueviolet;
}

input[type=submit]:hover {
    color: black;
    background-color:violet;
}

#user {
    text-align: center;
    border: 1px dashed black;
    background-color: cyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#a{
	color: white;
	border: none;
}


footer
{
	background-color: blue;
	color: white;
	padding: 15px;
	width: auto;
	text-align: center;

}

.gujjar2
{
	background-color: blueviolet;
	padding: 40px;
    text-decoration: none;
    text-align: center;
    width: auto;
    text-align: center;	
    
}
#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333;} */
}

#ul li {
    float: left;
}
  
#ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#ul li a:hover {
    text-decoration: underline;
}